@import "../../../styles/global.scss";
.admin-panel {
  padding: 2rem;

  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: $primary-color;
  }

  .student {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 1rem;
    border-radius: 5px;
    @include box-shadow;

    p {
      margin: 0;
      font-size: 1rem;
    }

    button {
      @include button-styles;
    }
  }
}
