@import "../../../styles/global.scss";

.teacher-panel {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  h1 {
    text-align: center;
    color: #4caf50;
  }

  .form-group {
    margin-bottom: 1rem;

    input,
    textarea {
      width: 100%;
      padding: 0.8rem;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    textarea {
      resize: none;
      height: 100px;
    }
  }

  button {
    display: block;
    margin: 1rem 0;
    background-color: #4caf50;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: darken(#4caf50, 10%);
    }
  }

  .chapter {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;

    .video {
      margin-top: 1rem;
    }
  }
}
