.footer {
  background-color: rgb(119, 134, 127);
  color: #fff;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30rem;
  padding: 2rem;

  p {
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 1rem;
  }

  a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;  // Align icon and text in one line
    gap: 0.5rem;  // Space between the icon and the text
    &:hover {
      color: rgb(0, 255, 13);
    }
  }

  .footerContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;  // Creates space between sections

    .logoSection {
      flex: 1;
      max-width: 30%;
      text-align: left;

      .logoImage {
        max-width: 100%;
        height: auto;
      }
    }

    .socialLinks {
      flex: 1;
      max-width: 40%;
      ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin: 0;
        }
      }
    }
  }

  .footerBottom {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
    text-align: center;
  }
  .logoSection, .socialLinks {
    max-width: 100%;
  }
}
