.working-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #17cb11, #b1fc25);
    color: #ffffff;
    font-family: "Arial", sans-serif;
    text-align: center;
    overflow: hidden;
  
    .animation-wrapper {
      position: relative;
      margin-bottom: 20px;
  
      .gear-icon {
        font-size: 80px;
        color: #ffffff;
        animation: spin 4s linear infinite;
  
        &.small-gear {
          font-size: 40px;
          position: absolute;
          top: 10px;
          left: 50%;
          transform: translateX(-50%);
          animation: spin-reverse 2s linear infinite;
        }
      }
    }
  
    .fade-text {
      font-size: 5rem;
      font-weight: bold;
      animation: fadeIn 3s ease-in-out infinite alternate;
    }
  
    .subtitle {
      margin-top: 10px;
      font-size: 2rem;
      color: #eeeeee;
      animation: slideIn 1.5s ease-out forwards;
    }
  }
  
  // Animations
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin-reverse {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  